
/* to make page a flexible box */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
  background-color: black;
} 
/*grid ends*/

div.links{
    margin-top:9px;
    color:#bfc0c0;
    text-decoration: none;
    list-style-type: none;
    background-color: none;
    background: none;
    text-align: center;
    padding:2px;
}
.links ul{

    margin-top: 9px;
    color:black;
    list-style-type: none;
    background-color: white;
    text-align: center;
    padding:4px;
}

.links li{

    margin-top: 9px;
    color:#bfc0c0;
    text-decoration: none;
    list-style-type: none;
    background-color: none;
    background: none;
    text-align: center;
    padding:4px;
}

a.nav:link{
    color:#bfc0c0;
    text-decoration: none;
}
a.nav:active{
    color:#eef1f3;
    text-decoration: none;
}
a.nav:visited{
    color: #bfc0c0;
    text-decoration: none;
}
a.nav:hover{
    color:#eef1f3;
    text-decoration: none;
}
 /* **TIP** keep a:hover in the end , since visited and link over rides it if placed before them!*/
/* nav menu ends*/

/*for logo */
 .icon {
    height:90px;
    width:180px;
    margin-left:auto;
    margin-right:auto;
 }

/*additional links*/
 .links div {
    color:#bfc0c0;
    text-decoration: none;
    margin-top:20px;
    margin-left:auto;
    margin-right: auto;
}

a.links{
    margin-left:auto;
    margin-right: auto;
    }

a.links:link{
    color:#bfc0c0;
    text-decoration: none;
   
}

a.links:active{
    color:#eef1f3;
    text-decoration: none;

}
a.links:visited{
    color:#bfc0c0;
    text-decoration: none;

}
a.links:hover{
    color:#eef1f3;
    text-decoration: none;

}

.des{
    display:flex;
    flex-direction: column;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
color:#0d1321;
background-color:  #eef1f3;
padding-right:5px;
}

.footer a{
    color:black;
    text-decoration: none;

}
.footer,.fchild,ul,li{
    background-color: #eef1f3;
}
.footer{
    flex-direction: column;
    padding-top:29px;
    display:flex;
    flex:100%;
    justify-content: center;
    align-items: center;
}

.fchild {
    padding-top: 21px;
    list-style-type: none;
}

ul{
    font-size: 15px;
    text-align: center;
    color:#0d1321;
    font-weight: bold;
    text-decoration: none;
}

li{
    font-size: 15px;
}


/*///////////////////////////////////////////////////////////////////////////////////*/
/*Stylesheet changes for tablet screens*/

@media screen and (min-width:600px){

    *{
        margin:0;
        padding:0;
    }
    .des{
        display:flex;
        flex-direction: column;
    padding-top: 10px;
    text-align: center;
    color:#0d1321;
    background-color:  #eef1f3;
    padding-right:5px;
    }
    
    
    .footer,.fchild,ul,li{
        background-color: #eef1f3;
    }
    .footer{
        flex-direction: column;
        padding-top:29px;
        display:flex;
        flex:100%;
        justify-content: center;
        align-items: center;
    }
    
    .fchild {
        padding-top: 21px;
        list-style-type: none;
    }
    
    ul{
        font-size: 15px;
        text-align: center;
        color:#0d1321;
        font-weight: bold;
    }
    
    li{
        font-size: 15px;
    }
    

    }
/*///////////////////////////////////////////////////////////////////////////////////*/
/*Stylesheet changes for laptop screens*/
    
    @media screen and (min-width:961px){
    

        *{
            margin:0;
            padding:0;
        }
    .logo{
        padding-left:29px;
        margin-right: auto;

    } 
        .des{
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: right;
            color:#0d1321;
            background-color:  #eef1f3;
            padding-right:5px;
            }
            
            
            .footer,.fchild,ul,li{
                background-color: #eef1f3;
            }
            .footer{
                flex-direction: row;
                padding-top:29px;
                display:flex;
                flex:33.3%;

            }
            
            .fchild {
                align-items: center;
                display:flex;
                flex-direction:column;
                flex:33.3%;
                padding:0 110;
                list-style-type: none;
            }
            
            ul{
                font-size: 15px;
                text-align: left;
                color:#0d1321;
                font-weight: bold;
            }
            
            li{
                font-size: 15px;
            }
            
    
        }
